<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>hello.user_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usersignup</servlet-name>
    <servlet-class>hello.user_signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersignup</servlet-name>
    <url-pattern>/usersignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userforgot</servlet-name>
    <servlet-class>hello.user_forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userforgot</servlet-name>
    <url-pattern>/userforgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellerlogin</servlet-name>
    <servlet-class>hello.seller_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerlogin</servlet-name>
    <url-pattern>/sellerlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellerforgot</servlet-name>
    <servlet-class>hello.seller_forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerforgot</servlet-name>
    <url-pattern>/sellerforgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellersignup</servlet-name>
    <servlet-class>hello.seller_signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellersignup</servlet-name>
    <url-pattern>/sellersignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>seller</servlet-name>
    <servlet-class>hello.get_seller_itemdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seller</servlet-name>
    <url-pattern>/get_seller_item</url-pattern>
  </servlet-mapping>
</web-app>